ESP8266mDNS: Improve compliance with DNS-SD RFC6763

There are a few aspects of the existing ESP8266 MDNS implementation that are not compliant with [RFC6763](https://tools.ietf.org/html/rfc6763) describing the DNS-based Service Discovery (i.e. DNS-SD) protocol.  Specifically:

- Section 9 states that when a service type enumeration request is received (i.e. a request with the special `_services._dns-sd._udp.local` meta-query), the response should be a set of `PTR` records identifying supported service types (e.g. `_http._tcp.local`).  Presently, the MDNS implementation responds with a set of `PTR` records identifying service instances (e.g. `MyService._http._tcp.local`).

- Section 12 states that response records that were not explicitly requested by the client should be treated as additional records in the DNS response.  This is reinforced by Section 4.1 of [RFC1035](https://tools.ietf.org/html/rfc1035) describing the DNS protocol.  Presently, the MDNS implementation treats all response records as answers to the questions sent by a client, irrespective of the questions actually sent.
